PORT=3000
NODE_ENV=development
DATABASE_URL=
JWT_SECRET=
CORS_ORIGIN=http://localhost:3000,https://inkwell-yaahvi.vercel.app
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=inkwell